@import '../../styles/breakpoint.module.scss';

.image__card {
    &__container {
        display: flex;
        align-items: center;
        justify-content: space-around;
        gap: 30px;
        flex-wrap: wrap;
    }

    &__content {
        border-radius: 1rem;
        position: relative;
        width: 250px;
        background: radial-gradient(#111 50%, #000 100%);
        overflow: hidden;
        cursor: pointer;
    }

    &__overlay {
        position: absolute;
        left: 0;
        bottom: 0;
        height: 100%;
        padding: 15px;
        text-align: center;
        color: #fff;
        opacity: 0;
    }

    &__name {
        transform: translateY(10px);
        transition: all .1s ease-out;
        margin-bottom: 1rem;
        &--mobile{
            display: none;
        }
    }

    &__description {
        height: 100%;
        transition: all .1s ease-out 0.1s;
    }

    &__button {
        position: absolute;
        bottom: 0.5rem;
        left: 0rem;
        right: 0rem;
        margin: auto;
        width: 8rem;
    }

    &__image {
        margin: 2rem 1rem 4rem 1rem;
        &--mobile{
            display: none;
        }
    }
}

.image__card__overlay:hover {
    transform: translateY(0px);
    opacity: 1;
    transition: all .3s ease-out 0.2s;
}

.image__card__content img {
    transform: scale(1.3);
    transition: 0.3s ease-out;
}

.image__card__content:hover img {
    transform: scale(1.1) translateY(-20px);
    opacity: 0.3;

    .image__card__description {
        opacity: 1;
        transform: translateY(0px);
        transition: all .3s ease-out 0.2s;
    }
}

@media only screen and (max-width: $breakpoint_md) {
    .image__card {
        &__image {
            display: none;
        }
        &__image--mobile {
            display: block;
        }
        &__name{
            display: none;
        }
        &__name--mobile{
            margin: 0px;
            margin-block-start: 0rem;
            margin-block-end: 0rem;
            display: block;
        }
        &__content{
            padding: 1rem;
            width: unset;
        }
        &__button{
            display: none !important;
        }

    }
}