@import '../../../styles/colors.module.scss';

.contact {
  &__content {
    display: flex;
    justify-content: space-between;
    width: 300px;
    max-width: 100%;
    margin: 4rem auto;
  }

  &__title {
    margin: 3rem 0rem;
    color: $primary-font-color;
  }
}
