.round-cursor {
    position: fixed;
    z-index: 9999;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    pointer-events: none;
    background-color: rgb(136, 136, 136);
    box-shadow: 0rem 0rem 10rem 3rem rgba(255, 255, 255, 0.76);

    @media only screen and (max-width: 992px) {
        display: none;
    }
}
